<footer>
  <p mt-8 text-xs op-30>
    
    <span pr-1></span>
    <a
      b-slate-link
      href="https://chatyy.store/" target="_blank"
    >AI服务
    </a>
	  丨
    <span pr-1></span>
    <a
      b-slate-link
      href="https://openai.com/" target="_blank"
    >OpenAi官网
    </a>
	  丨
    <span pr-1></span>
    <a
      b-slate-link
      href="https://platform.openai.com/account/api-keys" target="_blank"
    > GPT_API
    </a>
	  丨
    <span pr-1></span>
    <a
      b-slate-link
      href="http://chat.is725.com/img/zanshang.jpg" target="_blank"
    >赞助站长
    </a>
	  丨

    <span px-1></span>
    <a
      b-slate-link
      href="" target="_blank"
    >苏酥
    </a>
    
    
    
    
    
  </p>
</footer>
