<footer>
  <p mt-8 text-xs op-30>
    <span pr-1></span>
    <a
      b-slate-link
      href="http://chat.is725.com/img/zanshang.jpg" target="_blank"
    >赞助站长
       
    </a>丨
    <span px-1></span>
    <a
      b-slate-link
      href="" target="_blank"
    >苏酥
       
    </a><br>
    
    <a href="https://chatyy.store/" class="active">
			<i class="fa fa-home"></i>
			<span>首页</span>
		</a>丨
		<a href="https://openai.com/">
			<i class="fa fa-list"></i>
			<span>官网</span>
		</a>丨
		<a href="https://platform.openai.com/account/api-keys">
			<i class="fa fa-shopping-cart"></i>
			<span>API</span>
		</a>丨
		<a href="http://chat.is725.com/img/zanshang.jpg">
			<i class="fa fa-user"></i>
			<span>赞助</span>
		</a>
    
    
    
  </p>
</footer>
